<template>
    <!--  -->
</template>

<script>
    import Space from './Space';

    export default {
        components: { Space },

        data() {
            return {
                //
            }
        }
    }
</script>
